<style>

</style>

<img src="/assets/images/dashboard/DealOne/logo_transparent.png"/>

<h1>Attestation individuelle de formation</h1>
Je, soussigné:  Louis Litt, représentant de l'organisme de formation P&H Formation,
atteste que: Prénom du stagiaireNom du stagiaire a suivi la formation:
Nom de la formation: Nom de ma session de formation
Lieu de la formation: Adresse du lieu.
Dates de la formation: du 4 mars 2019 au 25 mars 2019.
Durée de la formation: 31.5 heures (4.5 jours).
Type d'action de formation: Action d'adaptation et de développement des compétences des salariés
Objectifs de la formation
 
Fait à Nouillork, le 15 janvier 2019
 
