{% extends 'base.html.twig' %}

{% block title %}Gestion des ressources{% endblock %}

{% block body %}

<a href="{{ path('addRessource_ressource', {'id': salle.id}) }}" class="btn btn-success btn-lg btn-block" role="button" aria-pressed="true">Ajouter des ressources</a>
<br>

  <h3>{{ salle.nom }}</h3>
  <h4>{{ salle.nbPlace }} places disponibles</h4>

{% endblock %}

