{% extends 'base.html.twig' %}

{% block body %}

<h1 style="text-align:center"> Bienvenue sur DeaL One ! </h1>

<img src="http://lorempixel.com/400/200/" class="center"/>

<div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Duis fermentum a dui sit amet vestibulum. Quisque consequat posuere lacus, a vulputate felis viverra ut. 
Integer in fermentum ante. Duis interdum vitae mauris dapibus posuere. 
Quisque elit justo, pellentesque vitae nisi vel, iaculis iaculis diam. Donec convallis nunc mi, eu placerat 
metus aliquam non. Sed volutpat urna eget luctus viverra. Fusce sagittis bibendum nisl. 
Proin ultrices magna vitae lectus suscipit, sed posuere ante malesuada. Nam efficitur, mauris non congue pharetra, 
arcu mauris pretium dolor, vel vulputate justo nibh nec nulla. Proin eu aliquet dui. Aenean blandit ante et turpis sagittis, 
et dignissim nisi sollicitudin.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Duis fermentum a dui sit amet vestibulum. Quisque consequat posuere lacus, a vulputate felis viverra ut. 
Integer in fermentum ante. Duis interdum vitae mauris dapibus posuere. 
Quisque elit justo, pellentesque vitae nisi vel, iaculis iaculis diam. Donec convallis nunc mi, eu placerat 
metus aliquam non. Sed volutpat urna eget luctus viverra. Fusce sagittis bibendum nisl. 
Proin ultrices magna vitae lectus suscipit, sed posuere ante malesuada. Nam efficitur, mauris non congue pharetra, 
arcu mauris pretium dolor, vel vulputate justo nibh nec nulla. Proin eu aliquet dui. Aenean blandit ante et turpis sagittis, 
et dignissim nisi sollicitudin.</p></div>
{% endblock %}