/*base*/
body{background: #ebeff2;}
.bck1{background: #fff;}

/*generique*/
.padded{padding: 15px;}

/*header*/
header#header {margin-bottom: 20px;padding: 10px;}
header#header h1 {text-align: center;color: #5cb85c;}

/*footer*/
footer#footer{margin-top: 20px;padding: 10px;}

/*image center*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
  }

/* Footer */

#footer {
    background: #E8EEF4;
    color: #7c8081;
    padding: 5em 5em 10em 5em;
    text-align: center;
}

    #footer .copyright {
        font-size: 0.8em;
        line-height: 1em;
    }

        #footer .copyright a {
            color: inherit;
        }

        #footer .copyright li {
            display: inline-block;
            margin-left: 1em;
            padding-left: 1em;
            border-left: dotted 1px;
        }

            #footer .copyright li:first-child {
                margin: 0;
                padding: 0;
                border: 0;
            }
            ul {
                list-style: none;
            }