{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}

<h2>Liste des catégories</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Catégorie</th>
        </tr>
    </thead>
    <tbody>
         {% for categorie in categories %}
            <tr>
                <td><h4>{{ categorie.intitule}}</h4></td>
                {% for module in categorie.modules %}
                    <td>{{ module.intitule}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
