{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}

    <a href="{{ path('add_categorie')}}" class="btn btn-success btn-lg btn-block" role="button" aria-pressed="true">Ajouter une catégorie</a>
    <br>
    <div class="row">
        {% for categorie in categories %}
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h3>{{ categorie.intitule}}</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In commodo mauris leo, non finibus nulla eleifend a. Sed nec ultricies nisi, vel condimentum dolor. Duis tincidunt consequat eros non eleifend. Suspendisse quis tristique lorem.
                        </p>
                        <a href="{{ path('show_categorie', {'id' : categorie.id})}}" class="btn btn-info">Détails</a>
                        <a href="{{ path('delete_categorie', {'id': categorie.id}) }}" onclick="Supp(this.href); return(false)" class="btn btn-danger">Supprimer</a>
                    </div>
                </div><br>
            </div>
        {% endfor %}
    </div>

{% endblock %}

